
.topbarContainer{
    height: 60px;
    width: 100%;
    background-color: #024950;
    display: flex; /* to make all items in the container in the same row*/
    align-items: center; /* to center them verticaly */
    position: sticky;
    top: 0;
    z-index: 999;
}

/*topbar left */

.topbarLeft{
    flex: 3; /* from the wide of the container the left takes 3 */
   align-items: center;
   display: flex;
}

.logo{
    font-size: 28px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    align-items: center;

}

.logoImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

/*topbar center */

.topbarCenter{
    flex: 5;
   
}

.searchbar{
    width: 100%;  /* from hhe top center it takes the total width */
    height: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 25px !important;
    margin-left: 8px;
}

.searchInput{
    font-size: 18px;
    border: none; 
    width: 70%;
}

.shareInput::placeholder {
    font-size: 14px; /* Increase the font size */
    color: #888; /* Optional: Change the color for better visibility */
}

.searchInput:focus{
    outline: none; /* when it is clicked their is no border displayed */
}

/*topbar right */

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}

.topbarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 18px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarIconItem svg {
    font-size: 22px; /* Slightly larger icon size for better visibility */
    color: inherit; /* Inherits color from the parent */
  }

.topbarImg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover; /* the image to cover all the screen of the container*/
  cursor: pointer;
}

.profilePlaceholder {
    width: 40px;  /* Adjust size as needed */
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* Adjust color */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    object-fit: cover;
    text-decoration: none;
} 

.profileLink{
 text-decoration: none;
}
